<div
  class="cont">
  <div
    class="row">
    <div
      class="cell">
      <rb-graphs-tiles
        [cols]="3"
        [rows]="2"
        [data]="data"
        [colormap]="colormap"
        (selectitem)="select($event)">
      </rb-graphs-tiles>
    </div>
    <div
      class="cell">
      
    </div>    
  </div>
  <div
    class="row">
    <div
      class="cell">
      
    </div>
    <div
      class="cell">
      <rb-graphs-tiles
        [cols]="3"
        [rows]="2"
        [data]="data"
        [colormap]="colormap"
        [format]="'currency'"
        (selectitem)="select($event)">
      </rb-graphs-tiles>
    </div>    
  </div>  

</div>
